{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/newcard.css')}}">
{% endblock %}

{% block body%}
<form method="POST" action="registercard">
    Imię:
    <input type="text" name="name"/><Br><br>
    Nazwisko:
    <input type="text" name="surname"/><Br><br>
    Adres:
    <input type="text" name="adress"/><Br><br>
    Pesel:
    <input type="number" min='00000000000' max="99999999999" name="pesel"/><Br><br>
    Numer telefonu:
    <input type="number" name="phone" min="0000000000" max="999999999"/><br></br>
    Data urodzenia:
    <input type="date" name="born"/><br></br>
    <input type="submit" value="Utwórz"/>
</form>
{% endblock %}