{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/patient.css') }}"/>
{% endblock %}

{% block body %}
<header>
    <center id="welcome">Witaj {{data['name']}}<br>
    <a href="{{url_for('index')}}">Strona główna</a>
    <a href="{{url_for('logoutAccount')}}">Wyloguj</a>
    <a href="{{ url_for('visits_history')}}">Historia wizyt</a>
    <a href="{{ url_for('rH')}}">Dane zdrowotne</a></center>
    {{attention}}
</header>
<div id="register_visit">
    
    
    <center><h3>Zarejestruj wizytę</h3></center>
    <form action="visit" method="POST">
        Imię:
        <input type="text" name="name" value="{{ data['name'] }}"/><br></br>
        Nazwisko:
        <input type="text" name="surname" value="{{ data['surname'] }}"/><br></br>
        Kod pocztowy:
        <input type="text" name="postalcode"/><br><br>
        Miasto:
        <input type="text" name="city" ><Br></br>
        Data urodzenia:
        <input type="date" name="born" value="{{ data['born']}}"/><br></br>
        Data wizyty:
        <input type="date" name="visit" value="{{ time }}"/><br></br>
        <input type="submit" value="Umów wizytę"/>
    </form>
</div>
<div id="history">
    {% for i in data %}
        <div class="visit">
            <span id="visitDate">Data wizyty: <b>{{ i['visit_date'] }}</b></span><br>
            <span id="name">Imię: <b>{{ i['name'] }}</b></span><br>
            <span id="surname">Nazwisko: <b>{{ i['surname']}}</b></span><br>
            <span id="city">Miasto: <b>{{i['city']}}</b></span>
        </div>
    {% endfor %}
</div>
{% endblock %}